<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Centre - Ghips dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="app-title">
            <h1>🤖 Le Centre <span>Ghips dashboard</span></h1>
        </div>
        <div class="signal">
            <span></span>
            <p>Serveur</p>
        </div>
        <div class="signal">
            <span></span>
            <p>Port série</p>
        </div>
        <!-- <div>
            <span class="signal"></span>
            <p></p>
        </div> -->
        <div>
            <nav>
                <a href="/logs/">Logs</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="panel">
                <h2>Lampes</h2>
                <div class="switch">
                    <input type="checkbox" id="led-1" name="led-1">
                    <label for="led-1">Chambre</label>
                </div>
                <div class="switch">
                    <input type="checkbox" id="led-2" name="led-2">
                    <label for="led-2">Salons</label>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Le Centre - Ghips dashboard - IP locale : <%= local_ip %> (port <%= local_port %>)</p>

        <input id="input-ip" class="hidden" type="text" value="<%= local_ip %>">
        <input id="input-port" class="hidden" type="text" value="<%= local_port %>">
    </footer>

    <script src="../public/js/switch.js"></script>
    <script src="../public/js/cron.js"></script>
    <noscript>Sorry, your browser does not support JavaScript.</noscript>
</body>
</html>
